.cardContainer {
  font-size: 13px;
  //border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.carrierName {
  font-size: 15px;
}

.carrierAndLogoContainer {
  display: flex;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 15px;
  }
}

.directionContainer {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.flights {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}
